@font-face {
  font-family: GillSans-LightSC;
  src: url("../GillSans-LightSC.otf") format("opentype");
}

@font-face {
  font-family: Gill Sans Nova Inline;
  src: url("../Gill Sans Nova Inline.otf") format("opentype");
}

html,
body,
main {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
  color: #6b8ca5;
  border-color: #6b8ca5;
}

body {
  background-color: #aacee3 !important;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
}

p.sub {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3px;
}

p.small {
  font-family: "GillSans-LightSC";
  font-size: 32px;
}

.name {
  font-family: "Gill Sans Nova Inline";
  color: white;
  font-size: 48px;
  font-weight: 100;
  margin: 15px 0;
  line-height: 1.2;
  padding: 0 15px;
}

.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-box {
  position: absolute;
  margin: 20px;
  font-size: 28px;
  z-index: 1;
}

.corner-box p {
  margin: 0;
  padding: 5px;
}

.initials {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  letter-spacing: 2px;
}

.date p {
  border-color: #6b8ca5;
}

.initials p {
  border-color: white;
}

.border-bottom {
  border-bottom: black solid 1px;
}

.grass {
  /* display: block; */
  background-image: url("/public/images/grass.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 200%;
}

.pinecone {
  height: 110px;
  display: block;
  margin: 15px auto;
}

.flip {
  transform: rotate(180deg);
  /* display: none; */
}

/* MOBILE */

/* @media (max-width: 640px) {
  .corner-box {
    font-size: 22px;
  }

  p.small {
    font-size: 26px;
  }

  .pinecone {
    height: 80px;
  }
}
 */

@media (max-width: 640px) {
  .grass {
    height: 70px;
  }

  .name {
    font-size: 38px;
  }

  p.small {
    font-size: 22px;
  }

  p.sub {
    font-size: 20px;
  }

  .corner-box {
    font-size: 18px;
    margin: 15px;
  }

  .pinecone {
    height: 70px;
  }
}

.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.remove-guest {
  color: red;
  background-color: inherit;
  border: none;
}

#rsvp {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
  text-transform: none;
  font-family: Lato;
  font-weight: 500;
  color: black;
  text-align: left;
}

.ui.grid > .eight.wide.column:nth-child(1) {
  padding-right: 0.5rem;
}

.ui.grid > .eight.wide.column:nth-child(2) {
  padding-left: 0.5rem;
}

h1.ui.header {
  margin-top: 0 !important;
}

#add-guest {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.lower-wrapper {
  margin-top: 24px;
}

@media (max-width: 640px) {
  .ui.form .inline.fields .field {
    padding-right: 0.9em !important;
  }
}
