<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body class="admin">
  <main>
    <div id="admin" class="info-container" style="padding-top: 20px;">
      <div v-if="loading" class="ui centered inline loader active large"></div>
      <div v-else>
        <h2>Parties</h2>
        <p v-show="parties.length > 0">Potluck Contributions: {{ numPotluck }}</p>
        <div class="ui top attached tabular menu">
          <a @click="active_tab = 'first'" :class="['item', active_tab == 'first' ? 'active' : '']">Saved</a>
          <a @click="active_tab = 'second'" :class="['item', active_tab == 'second' ? 'active' : '']">Opened & Not Saved</a>
          <a @click="active_tab = 'third'" :class="['item', active_tab == 'third' ? 'active' : '']">Unopened</a>
        </div>
        <div :class="['ui bottom attached tab segment', active_tab == 'first' ? 'active' : '']">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Party Name</th>
                <th>Party Slug</th>
                <th>Attending</th>
                <th>Potluck</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="party of partiesSaved">
                <td>{{ party.party_name }}</td>
                <td>{{ party.party_slug }}</td>
                <td class="center aligned">
                  <i :class="[ partyAttending(party) ? 'large green check' : 'large red close' ,'icon']"></i>
                </td>
                <td class="center aligned">
                  <i :class="[ party.potluck ? 'large green check' : 'large red close' ,'icon']"></i>
                </td>
              </tr>
            </tbody>
          </table>
          <p v-show="parties.length > 0"><strong>Total: {{ partiesSaved.length }}</strong></p>
        </div>
        <div :class="['ui bottom attached tab segment', active_tab == 'second' ? 'active' : '']">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Party Name</th>
                <th>Party Slug</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="party of partiesOpenedNotSaved">
                <td>{{ party.party_name }}</td>
                <td>{{ party.party_slug }}</td>
              </tr>
            </tbody>
          </table>
          <p v-show="parties.length > 0">{{ partiesOpenedNotSaved.length }}</p>
        </div>
        <div :class="['ui bottom attached tab segment', active_tab == 'third' ? 'active' : '']">
          <table class="ui celled table">
            <thead>
              <tr>
                <th>Party Name</th>
                <th>Party Slug</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="party of partiesNotOpened">
                <td>{{ party.party_name }}</td>
                <td>{{ party.party_slug }}</td>
              </tr>
            </tbody>
          </table>
          <p v-show="parties.length > 0">{{ partiesNotOpened.length }}</p>
        </div>
        <h2>Confirmed Guests</h2>
        <table class="ui celled table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Attending</th>
              <th>Camping</th>
              <th>Breakfast</th>
              <th>Dietaries</th>
            </tr>
            <tr>
              <th rowspan="2"><strong>Totals</strong></th>
              <th>Yes</th>
              <th class="center aligned">{{ totalAttending }}</th>
              <th class="center aligned">{{ totalCamping }}</th>
              <th class="center aligned">{{ totalBreakfast }}</th>
              <th></th>
            </tr>
            <tr>
              <th style="border-left: 1px solid rgba(34,36,38,.1)">No</th>
              <th class="center aligned">{{ saved_guests.length - totalAttending }}</th>
              <th class="center aligned">{{ saved_guests.length - totalCamping }}</th>
              <th class="center aligned">{{ saved_guests.length - totalBreakfast }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="guest of saved_guests">
              <td>{{ guest.first_name }}</td>
              <td>{{ guest.last_name }}</td>
              <td class="center aligned">
                <i :class="[ guest.attending ? 'large green check' : 'large red close' ,'icon']"></i>
              </td>
              <td class="center aligned">
                <i :class="[ guest.camping ? 'large green check' : 'large red close' ,'icon']"></i>
              </td>
              <td class="center aligned">
                <i :class="[ guest.breakfast ? 'large green check' : 'large red close' ,'icon']"></i>
              </td>
              <td>{{ guest.dietary }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</body>
<script src="/assets/js/admin.js"></script>

</html>
