<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body class="home">
  <main>
    <div class="date corner-box">
      <p class="border-bottom small">11</p>
      <p class="border-bottom">Aug</p>
      <p class="small">18</p>
    </div>
    <div class="info-container">
      <img class="pinecone" src="/assets/images/pinecone.png" alt="">
      <p class="name">Anna &amp;<br class="mobile-only"> Thomas</p>
      <div class="sm-divider"></div>
      <div class="container">
        <div class="hlf img">
          <img src="/assets/images/thomas_anna.jpg" alt="">
        </div>
        <div class="hlf">
          <h2>Welcome to our wedding.</h2>
          <p class="large-text">We’re looking forward to our wedding this summer and we’re hoping you can share the weekend with us.</p>
          <p>This is where you can say a bit about yourselves and what your hopes are for your wedding day, without giving too
            much away. Some people use this part of their wedding website to talk about how they met, and their history together
            so far.</p>
          <p>
            <strong>Why the evergreen bough above?</strong> It’s an important symbol in Swiss weddings (Anna’s mother Beatrice is
            Swiss), said to bring fer lity and luck! The white pine is also the dominant evergreen in Georgian Bay (pic at
            left), where Thomas and his family spend me every summer.</p>
        </div>
      </div>
      <div class="sm-divider"></div>
      <div class="container">
        <div class="hlf">
          <h2>Our venue, Z&oacute;calo Organics.</h2>
          <p class="large-text">We wanted an outdoor wedding first and foremost. This spot fit the bill perfectly.</p>
          <p>Z&oacute;calo Organics is a farm enterprise run by a young couple from Guelph. They produce organic greens for
            the restaurant industry as well as vegetables for their own CSA. Thomas a ended Beth and Seb’s own wedding in
            their barn several years ago, and thought it was a fanas c place for such an event.</p>
          <p>We’ll be able to use a eld for the wedding ceremony, then eat in their old rus c barn, and nally dance outside
            in a tent, and hold a camp re under the stars. In addi on, any who wishes can spend the night camping in a special
            area we’ll set up. See below for more info about that.</p>
          <p>“Z&oacute;calo” is the name of the historic city centre of Mexico City (Seb’s father is Mexican). It’s also the
            word used in most Mexican ci es for the plaza, the central hub of a community.</p>
        </div>
        <div class="hlf img">
          <img src="/assets/images/Zocalo-Farm.jpg" alt="">
        </div>
      </div>
      <div class="sm-divider"></div>
      <div class="container">
        <div class="hlf img">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11527.612373801874!2d-80.1874924!3d43.7541091!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x83024e52ff81d64b!2sZocalo+Organics!5e0!3m2!1sen!2sca!4v1522074634371&zoom=16" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="hlf">
          <h2>Getting here (or there).</h2>
          <p class="large-text">The Z&oacute;calo farm is about 30 min. from Guelph. Or an hour from Toronto.</p>
          <p>
            <strong>Directions from Guelph:</strong>
          </p>
          <ul class="ui list">
            <li>leave town on Eramosa Road, and go about 17 kilometres west</li>
            <li>turn le on Wellington Road 26, and go 5.7 kilometres</li>
            <li>turn right on Wellington Road 22, and go 4.1 kilometres</li>
            <li>turn le onto 3rd line and go 1.5 kilometres</li>
            <li>the farm is on your right!</li>
          </ul>
          <p>
            <strong>Directions from Toronto:</strong>
          </p>
          <ul class="ui list">
            <li>leave Toronto on Highway 401 west, going about 30 kilometres past the airport</li>
            <li>take exit 320 onto Regional Road 25 towards Acton, go 16 kilometres</li>
            <li>keep right and go another 10 kilometres, con nue onto 2nd line, and go another 5.7 kilometres</li>
            <li>turn right onto Wellington Road 22, and go 1.4 kilometres</li>
            <li>turn left onto Third Line and go 1.5 kilometres</li>
            <li>the farm is on your right!</li>
          </ul>
        </div>
      </div>
      <div class="sm-divider"></div>
      <div class="container">
        <div class="hlf">
          <h2>Camping. Or not.</h2>
          <p class="large-text">Tent. Sleeping bag. No heels.</p>
          <p>This is the sec on where you can describe why you wanted to have a wedding where people could camp over. Start
            with describing the feeling of camping together, hanging out by a re, etc. And then get into the ni y gri y:
            water, toilets, meals, etc. And of course, men on that we’ll give the campers breakfast in the morning.</p>
          <p>You could also have stu about Guelph accommoda ons here for people who aren’t camping. Not sure what exactly. List
            of hotels? Or just guidelines for AirBnB? Or even, things to do in Guelph? Whatever.</p>
        </div>
        <div class="hlf img">
          <img src="/assets/images/FarmSketch.jpg" alt="">
        </div>
      </div>
      <div class="email-link">
        <a href="mailto:hello@s-k.wedding" class="ui button primary">questions? – hello@s-k.wedding</a>
      </div>
    </div>
  </main>
  <footer class="grass"></footer>
</body>

</html>
