<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main>
    <div class="date corner-box">
      <p class="border-bottom small">11</p>
      <p class="border-bottom">Aug</p>
      <p class="small">18</p>
    </div>
    <div class="centered-container">
      <div class="info-container">
        <img class="pinecone" src="/public/images/pinecone.jpg" alt="">
        <p class="sub">Save the Date</p>
        <p class="name">Anna &amp; Thomas</p>
        <p class="sub">Guelph, Canada</p>
        <img class="pinecone flip" src="/public/images/pinecone.jpg" alt="">
      </div>
    </div>
    <div class="initials corner-box">
      <p class="border-bottom">A.S.</p>
      <p class="border-bottom">&amp;</p>
      <p>T.K.</p>
    </div>
  </main>
  <footer class="grass"></footer>
</body>
</html>
