html, body, main {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  background-color: #aacde2;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-box {
  position: absolute;
  margin: 20px;
}

.corner-box p {
  margin: 0;
  padding: 5px;
}

.initials {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

.initials p {
  border-color: white;
}

.border-bottom {
  border-bottom: black solid 1px;
}