@font-face {
  font-family: GillSans-LightSC;
  src: url("../GillSans-LightSC.otf") format("opentype");
}

@font-face {
  font-family: Gill Sans Nova Inline;
  src: url("../Gill Sans Nova Inline.otf") format("opentype");
}

html,
body,
main {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 100;
  background-color: #aacee3;
  color: #6b8ca5;
  border-color: #6b8ca5;
}

main {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
}

p.sub {
  font-size: 24px;
  margin: 0;
  letter-spacing: 3px;
}

p.small {
  font-family: "GillSans-LightSC";
  font-size: 32px;
}

.name {
  font-family: "Gill Sans Nova Inline";
  color: white;
  font-size: 48px;
  font-weight: 100;
  margin: 15px 0;
  line-height: 1.2;
}

.centered-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corner-box {
  position: absolute;
  margin: 20px;
  font-size: 28px;
  z-index: 1;
}

.corner-box p {
  margin: 0;
  padding: 5px;
}

.initials {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  letter-spacing: 2px;
}

.date p {
  border-color: #6b8ca5;
}

.initials p {
  border-color: white;
}

.border-bottom {
  border-bottom: black solid 1px;
}

.grass {
  /* display: block; */
  background-image: url("/images/grass.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 200%;
}

.pinecone {
  height: 110px;
  margin: 15px 0;
}

.flip {
  transform: rotate(180deg);
}

/* MOBILE */

@media (max-width: 640px) {
  .corner-box {
    font-size: 22px;
  }

  .pinecone {
    height: 80px;
  }
}
