<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main>
    <div class="centered-container">
      <div class="info-container">
        <img class="pinecone" src="/images/pinecone.jpg" alt="">
        <div class="form">
          <form>
            <input id="firstName1" type="text" name="firstName1" placeholder="First Name…">
            <input id="lastName1" type="text" name="lastName1" placeholder="Last Name…">
          </form>
        </div>
        <img class="pinecone flip" src="/images/pinecone.jpg" alt="">
      </div>
    </div>
  </main>
  <footer class="grass"></footer>
</body>
</html>
