<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <main>
    <div class="centered-container">
      <div class="info-container">
        <img class="pinecone" src="/images/pinecone.jpg" alt="">
        <div class="form">
          <form>
            <h2 class"ui sub header">Guests</h2>
            <div>
              <div class="ui input">
                <label for="firstName1" class="offscreen">First Name</label>
                <input id="firstName1" type="text" placeholder="First Name">
              </div>
              <div class="ui input">
                <label for="lastName1" class="offscreen">Last Name</label>
                <input id="lastName1" type="text" placeholder="Last Name">
              </div>
            </div>
            <div>
              <button id="addGuest" class="ui labeled icon button">
                <i class="plus icon"></i>
                Add Guest
              </button>
            </div>
          </form>
        </div>
        <img class="pinecone flip" src="/images/pinecone.jpg" alt="">
      </div>
    </div>
  </main>
  <footer class="grass"></footer>
</body>
</html>
