<title>Anna &amp; Thomas</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css"/>
<script src="https://unpkg.com/vue@2.1.10/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script> 
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<noscript>
  <div style="position: fixed; top: 0px; left: 0px; z-index: 3000; 
              height: 100%; width: 100%; background-color: #FFFFFF">
      <p style="margin-left: 10px; margin-top: 100px; text-transform: none;">Please enable Javscript and use a modern browser to view this page.</p>
  </div>
</noscript>
